---
http_interactions:
- request:
    method: get
    uri: https://api.fitbit.com/1/user/-/activities.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Accept-Locale:
      - en_US
      Authorization:
      - Bearer token
  response:
    status:
      code: 401
      message: 
    headers:
      content-type:
      - application/json;charset=utf-8
      www-authenticate:
      - Bearer realm="api.fitbit.com"
    body:
      encoding: UTF-8
      string: '{"errors":[{"errorType":"invalid_token","message":"Access token invalid:
        token. Visit https://dev.fitbit.com/docs/oauth2 for more information on the
        Fitbit Web API authorization process."}],"success":false}'
  recorded_at: Wed, 12 Jul 2017 21:34:30 GMT
recorded_with: VCR 3.0.3
