---
http_interactions:
- request:
    method: post
    uri: https://api.fitbit.com/1/user/-/sleep/apiSubscriptions/114sleep.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Accept-Locale:
      - en_US
      Authorization:
      - Bearer oauth2token123
  response:
    status:
      code: 201
      message: 
    headers:
      content-type:
      - application/json;charset=UTF-8
      content-language:
      - en-US
      fitbit-rate-limit-limit:
      - '150'
      fitbit-rate-limit-remaining:
      - '115'
      fitbit-rate-limit-reset:
      - '1379'
    body:
      encoding: ASCII-8BIT
      string: '{"collectionType":"sleep","ownerId":"54QTNY","ownerType":"user","subscriberId":"1","subscriptionId":"114sleep"}'
  recorded_at: Wed, 12 Jul 2017 20:37:01 GMT
recorded_with: VCR 3.0.3
