---
http_interactions:
- request:
    method: get
    uri: https://api.fitbit.com/1/user/-/body/log/fat/date/2017-07-19/7d.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Accept-Locale:
      - en_US
      Authorization:
      - Bearer oauth2token123
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json;charset=UTF-8
      content-language:
      - en-US
      fitbit-rate-limit-limit:
      - '150'
      fitbit-rate-limit-remaining:
      - '123'
      fitbit-rate-limit-reset:
      - '2014'
    body:
      encoding: ASCII-8BIT
      string: '{"fat":[{"date":"2017-07-18","fat":10,"logId":1500422399000,"source":"Web","time":"23:59:59"},{"date":"2017-07-19","fat":20,"logId":1500508799000,"source":"Web","time":"23:59:59"}]}'
  recorded_at: Wed, 19 Jul 2017 22:26:26 GMT
recorded_with: VCR 3.0.3
