---
http_interactions:
- request:
    method: get
    uri: https://api.fitbit.com/1/user/-/body/log/weight/goal.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer oauth2token123
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json;charset=UTF-8
      content-language:
      - en
      fitbit-rate-limit-limit:
      - '150'
      fitbit-rate-limit-remaining:
      - '150'
      fitbit-rate-limit-reset:
      - '1486'
    body:
      encoding: ASCII-8BIT
      string: '{"goal":{"goalType":"LOSE","startDate":"2017-07-06","startWeight":76,"weight":65,"weightThreshold":0.05}}'
  recorded_at: Thu, 06 Jul 2017 19:35:14 GMT
recorded_with: VCR 3.0.3
