---
http_interactions:
- request:
    method: get
    uri: https://api.fitbit.com/1/user/-/sleep/apiSubscriptions.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Accept-Locale:
      - en_US
      Authorization:
      - Bearer oauth2token123
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json;charset=UTF-8
      content-language:
      - en-US
      fitbit-rate-limit-limit:
      - '150'
      fitbit-rate-limit-remaining:
      - '117'
      fitbit-rate-limit-reset:
      - '1536'
    body:
      encoding: ASCII-8BIT
      string: '{"apiSubscriptions":[{"collectionType":"sleep","ownerId":"54QTNY","ownerType":"user","subscriberId":"1","subscriptionId":"114sleep"}]}'
  recorded_at: Wed, 12 Jul 2017 20:34:24 GMT
recorded_with: VCR 3.0.3
