---
http_interactions:
- request:
    method: post
    uri: https://api.fitbit.com/1/user/-/body/log/weight.json?date=2017-07-06&weight=60.44
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer oauth2token123
  response:
    status:
      code: 201
      message: 
    headers:
      content-type:
      - application/json;charset=UTF-8
      content-language:
      - en
      fitbit-rate-limit-limit:
      - '150'
      fitbit-rate-limit-remaining:
      - '150'
      fitbit-rate-limit-reset:
      - '2881'
    body:
      encoding: ASCII-8BIT
      string: '{"weightLog":{"bmi":20.43,"date":"2017-07-06","logId":1499385599000,"source":"api","time":"23:59:59","weight":60.4}}'
  recorded_at: Thu, 06 Jul 2017 20:11:59 GMT
recorded_with: VCR 3.0.3
