---
http_interactions:
- request:
    method: post
    uri: https://api.fitbit.com/1/user/-/body/log/fat.json?date=2017-07-06&fat=24.5
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer oauth2token123
  response:
    status:
      code: 201
      message: 
    headers:
      content-type:
      - application/json;charset=UTF-8
      content-language:
      - en
      fitbit-rate-limit-limit:
      - '150'
      fitbit-rate-limit-remaining:
      - '137'
      fitbit-rate-limit-reset:
      - '2148'
    body:
      encoding: ASCII-8BIT
      string: '{"fatLog":{"date":"2017-07-06","fat":24.5,"logId":1499385599000,"source":"api","time":"23:59:59"}}'
  recorded_at: Thu, 06 Jul 2017 20:24:12 GMT
recorded_with: VCR 3.0.3
