---
http_interactions:
- request:
    method: get
    uri: https://api.fitbit.com/1/user/-/sleep/goal.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer oauth2token123
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json;charset=UTF-8
      content-language:
      - en
      fitbit-rate-limit-limit:
      - '150'
      fitbit-rate-limit-remaining:
      - '150'
      fitbit-rate-limit-reset:
      - '2242'
    body:
      encoding: ASCII-8BIT
      string: '{"consistency":{"awakeRestlessPercentage":0.054745089020134564,"flowId":0,"recommendedSleepGoal":180,"typicalDuration":99,"typicalWakeupTime":"00:23"},"goal":{"bedtime":"23:00","minDuration":480,"updatedOn":"2017-07-06T03:49:02.801Z","wakeupTime":"07:30"}}'
  recorded_at: Fri, 07 Jul 2017 17:22:39 GMT
recorded_with: VCR 3.0.3
