---
http_interactions:
- request:
    method: get
    uri: https://api.fitbit.com/1.2/user/-/sleep/date/2017-07-06.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer oauth2token123
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json;charset=UTF-8
      content-language:
      - en
      fitbit-rate-limit-limit:
      - '150'
      fitbit-rate-limit-remaining:
      - '127'
      fitbit-rate-limit-reset:
      - '1111'
    body:
      encoding: ASCII-8BIT
      string: '{"sleep":[{"dateOfSleep":"2017-07-06","duration":29160000,"efficiency":92,"endTime":"2017-07-06T07:24:30.000","infoCode":0,"isMainSleep":true,"levels":{"data":[{"dateTime":"2017-07-05T23:18:00.000","level":"wake","seconds":30},{"dateTime":"2017-07-05T23:18:30.000","level":"light","seconds":330},{"dateTime":"2017-07-05T23:24:00.000","level":"wake","seconds":600},{"dateTime":"2017-07-05T23:34:00.000","level":"light","seconds":3000},{"dateTime":"2017-07-06T00:24:00.000","level":"rem","seconds":300},{"dateTime":"2017-07-06T00:29:00.000","level":"light","seconds":840},{"dateTime":"2017-07-06T00:43:00.000","level":"rem","seconds":330},{"dateTime":"2017-07-06T00:48:30.000","level":"light","seconds":3390},{"dateTime":"201[...]
