---
http_interactions:
- request:
    method: get
    uri: https://api.fitbit.com/1/user/-/body/log/weight/date/2017-06-29.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer token
  response:
    status:
      code: 401
      message: 
    headers:
      content-type:
      - application/json;charset=utf-8
      www-authenticate:
      - Bearer realm="api.fitbit.com"
    body:
      encoding: UTF-8
      string: '{"errors":[{"errorType":"invalid_token","message":"Access token invalid:
        token. Visit https://dev.fitbit.com/docs/oauth2 for more information on the
        Fitbit Web API authorization process."}],"success":false}'
  recorded_at: Fri, 30 Jun 2017 00:01:57 GMT
recorded_with: VCR 3.0.3
